.btn{
    white-space:normal !important;
    word-wrap: break-word;
    font-size:.75em;
}

.background-select {
    background: lightgray;
    order: 0;
    border:0;
    box-shadow: none;
    border-radius: 1em;
 }

 .noselect {
 outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-wrap{
    white-space:nowrap;
}



