.btn-circle.btn-xl {
  width: 7.65625em;
  height: 7.65625em;
  padding: 1.09375em 1.75em;
  border-radius: 3.829em;
  font-size: 2.625em;
  line-height: 1.33;
}

#advanced-btn {
  margin-top: 20px;
}

.greeting {
  padding: 20px;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
}