/* Global Components */

*:focus {
    outline: 0 !important;
}

a:link {
    text-decoration: none;
}

.hidden {
  visibility: hidden;
}

body,
html {
  height: 100%;
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

p {
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table {
  width: 100%;
  margin: auto;
  table-layout: fixed;
}

td {
  padding: 15px 0 5px 0;
  line-height: 150%;
  color: #8d8d8d;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 50px;
}

tr {
  text-align: left;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  min-width: 50px;
}

th {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
  line-height: 30px;
  color: #a7a7a7;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 2px;
}

/* Global Components */

/* Global Styles */

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.max-width {
  max-width: 928px;
  width: 90%;
}

/* Global Styles */

/* General Components */

.general-main-area-one {
  background-color: #0f1121;
  margin-bottom: 15px;
}

.general-header-main {
  display: grid;
  color: #ffffff;
  font-weight: bold;
  font-size: 38px;
  line-height: 42px;
  margin-top: 56px;
}

.general-main-area-navbar {
  background-color: #0f1121;
}

.general-navbar {
  display: flex;
  align-content: center;
  height: 45px;
  padding: 25px 50px;
}

.general-navbar-items {
  display: flex;
  flex: 1 1 auto;
  display: none;
  justify-content: flex-end;
}

.general-navbar-logo {
  display: flex;
  background: url(../img/nanospeed_logo.png);
  background-repeat: no-repeat;
  height: 45px;
  flex: 0 1 auto;
  width: auto;
  min-width: 300px;
}

.general-navbar-item:link, .general-navbar-item:visited {
  padding-left: 54px;
  color: #FFFFFF;
  text-decoration:none;
  font-size: 16px;
  font-weight: normal;
  line-height: 44px;
  padding-top:0;
  padding-bottom:0;
  margin:0;
}
.general-navbar-item:hover {
  background-color: rgba(255, 255, 255, .1);
  color: orange;
}

/* General Components */

/* Index.html*/

.border_bottom {
  border-bottom: 1px solid #e9e9e9;
}

td {
  text-align: left;
}

.completed {
  background-color: gray;
  background: #f5f5f5;
  border-radius: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 14px;
  padding-left: 14px;
}

.big-icon {
  font-size: 32px;
}

.active-one {
  display: inline-block;
  background-color: rgba(234, 137, 31, 0.2);
  color: rgba(234, 137, 31, 1);
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 2px;
}

.active-two {
  display: inline-block;
  background-color: rgba(74, 144, 226,0.2);
  color: rgba(74, 144, 226,1);
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 2px;
}

.active-one {
  display: inline-block;
  background-color: rgba(234, 137, 31, 0.18);
  color: rgba(234, 137, 31, 1);
  padding: 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 2px;
}

.past-transactions-table {
}

.past__transactions_title__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.your-transations-title {
  justify-self: start;
  font-size: 32px;
  line-height: 53px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.past-transations-title {
  justify-self: start;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}

.past__transactions__link {
  display: grid;
  grid-column: 3;
  justify-self: end;
  line-height: 53px;
  color: #aeaeae;
  font-size: 16px;
  cursor:pointer;
}

.past__transactions__link:hover {
  color: #4A90E2;
}

.transactions-table {
}

.ad__text {
  font-size: 14px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ad__community__link {
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  padding-right: 10px;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
}

.ad__wrapper {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-content: space-around;
  background: #4a90e2;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
}

.transaction-box__choice__button__one__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  height: 19%;
  min-height: 76px;
  align-self: center;
  margin: 10px auto;
}

.transaction-box__choice__header__text {
  grid-column-start: 1;
  grid-column-end: 4;
  color: #d1d0d0;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom:10px;
}

.transaction-box__choice__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 90%;
  max-width: 150px;
  border: 1px solid #e9e9e9;
  border-radius: 25px;
  height: 46px;
  color: #717171;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #fff;
  font-size: 16px;
  font-family: "Mukta", sans-serif;
  cursor:pointer;
}

button.transaction-box__choice__button:hover {
  border: 1px solid #d6d6d6;
}

.transaction-box__choice__button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.selection-button-one, .selection-button-one:hover {
  color: #ea891f;
  border: 1px solid #ea891f !important;
}

.selection-button-two, .selection-button-two:hover {
  color: #4a90e2;
  border: 1px solid #4a90e2 !important;;
}

 .transaction-box-footer-location-origin {
    text-align: left;
    color: #EA891F;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
  }

  .transaction-box-footer-location-origin .active-one {
    background-color:#FFF;
    font-weight: 600;
  }

  .transaction-box-footer-location-destination {
    text-align: right;
    color: #4A90E2;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 50px;
  }

  .transaction-box-footer-location-destination .active-two {
    background-color:#FFF;
    font-weight: 600;
  }

  .transaction-box-footer-location {
    display: grid;
    grid-template-columns: auto 1fr auto;
    border-radius: 0 0 0 10px;
  }

  .MuiLinearProgress-colorPrimary {
    background-color: rgb(226, 226, 226);
  }

  .MuiLinearProgress-barColorPrimary {
    background-color: #0f1121;
}

  .transaction-box-footer-time {
    display: inline;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    font-size: 14px;
    color: #949494;
    text-align: center;
    line-height: 30px;
  }

  .transaction-box-map {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 10px 10px 0 0;
    height: 390px;
    background-size: cover;
    width: 100%;
  }

  .transaction-box-footer-text {
    display: inline;
    color: black;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: 600;
  }

  .transaction-box-footer-try-again {
    background-color:  #4A90E2;
    color: #FFF;
    border-radius: 25px;
    padding: 5px;
    height: 30px;
    margin-right: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .transaction-box-footer-try-again:hover {
    color: #FFF;
    background-color: #3379ca;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    margin-right: 15px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
  }




  .transaction-box-footer {
    display: grid;
    background-color: white;
    grid-template-columns: 318fr 196fr 126fr;
    grid-gap: 10px;
    grid-row-start: 2;
    padding-top: 5px;
    grid-column: 1 / 3;
    height: 100%;
    border-radius: 0 0 10px 10px;
  }


  .location-line {
    border-top: 1px solid #E2E2E2;
    background-color: #E2E2E2;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 24px;
  }

.transaction-box__choice__button__two__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  align-self: center;
  margin: 10px auto;
}

.transaction-box__text {
  width: 80%;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  color: #1b204c;
  margin: 15px auto;
}

.transaction-box__go__button {
  width: 80%;
  min-height: 76px;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(74, 144, 226);
  border: 1px solid rgba(74,144,226);
  text-align: center;
  font-size: 43px;
  line-height: 76px;
  font-weight: bold;
  color: #ffffff;
  margin: 15px auto;
  animation: shadow-pulse 1.7s infinite;
}

.hidden-grid-container-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0 1fr 50px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Side nav is hidden on mobile */
  grid-template-rows: 64px 1fr 50px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

.sidenav {
  display:none;
  margin-top:64px;
  grid-area: sidenav;
  flex-direction: column;
  height: 100vh;
  width: 25%;
  min-width:300px;
  top:0;
  right:-100%;
  position: absolute;
  overflow-y: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2;
  /* Needs to sit above the hamburger menu icon */
  background-color: #0f1121;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  padding-top: 100px;
  
}


.sidenav.active {
  right: 0;
  display:flex;
}

.sidenav__close-icon {
  position: absolute;
  visibility: visible;
  top: 45px;
  right: 36px;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  opacity: 0.4;
}

.footer__copyright {
  padding-left: 20px;
}

.footer__signature {
  padding-right: 20px;
}

.header__nanologo {
  display: grid; 
  min-height: 50px;
  min-width: 115px;
  background: #ffffff url(../img/nano_logo.png);
}

.header__exitbutton {
  display: grid; 
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  border-radius: 5px;
  background: #f5f5f5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  cursor:pointer;
}

.header__learnmoretext__mobile {
  width: 100%;
  height: 40px;
  background: #ffffff;
  text-align: left;
  font-size: 16px;
  overflow: auto;
  line-height: 40px;
  display: inline;
  overflow: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #aeaeae;
}

.index-main-header__heading {
  color: #ffffff;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
  text-align: center;
  height: 125px;
  padding-top: 45px;
  padding-bottom: 25px;
  align-items: center;
}

.index-main-header__transaction-box {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: white;
  min-height: 360px;
  padding: 25px 10px;
  align-items: center;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.50);
  backface-visibility: hidden;
  border-radius: 10px;
  z-index: 3;
}

.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin-top: 20px;
  z-index: 4;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}

.loader-custom {
    display: block;
    margin-top: 20px;
    background-color: orange;
    transparent: .5;
    height: 5px;
    border-radius: 2.5px;
}

.loader {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  top: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}


.active-burger {
  color: orange;
}

.transaction-box-back {
  display: grid;
  grid-template-rows: 1fr 50px;
  margin-top:-500px;
  transform: rotateY(180deg);
  height: 440px;
  padding: 50px;
  backface-visibility: hidden;
  border-radius: 5px;
}

.transaction-box-footer {
  display: grid;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

.header__learnmorebutton {
  width: 150px;
  height: 40px;
  background: #f5f5f5;
  grid-column: 3;
  border-radius: 5px;
  color: #6f6f6f;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 0 5px 0 5px;
  margin-left: auto;
}

.header__learnmorebutton:hover {
  color: #4A90E2;
}

.header__learnmoretext__desktop {
  display: none;
}

/* Give every child element its grid name */

.burger-menu {
  display: flex;
  height: 100px;
  width: 100px;
  cursor: pointer;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.bars {
  color: #FFFFFF;
  font-size: 40px;
  text-align: right;
}

.index-main {
  display: grid;
  grid-template-rows: 95px 640fr auto auto;
}

.faq-main {
  display: grid;
  grid-template-rows: 95px 140px auto;
}

.footer {
  grid-area: footer;
  background-color: #648ca6;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  padding: 0;
  color: #c7c7c7;
}

.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
}

.sidenav__list {
  padding: 0;
  margin-top: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidenav__list-item {
  padding: 20px 20px 20px 40px;
  color: #ddd;
  font-size: 20px;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.gri_wave {
  position: relative;
  width: 100%;
}

.index-main-area-one {
  position: relative;
  display: grid;
  background: #0f1121;
  padding-bottom: 60px;
}

.index-main-area-two {
  display: grid;
  grid-template-rows: auto 348fr;
  margin: 0px;
  padding: 50px;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.index-main-area-three {
  display: grid;
  margin: 0px;
  padding: 50px;
  /*background-color: #f9f9fb;*/
}

.index-wave {
  position: relative;
  display: inline-block;
  margin-bottom: -10px;
}

.index-wave-1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.index-wave-2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.sidebar__logo {
  display: none;
  align-items: center;
  height: 100px;
  background: #0f1121 url(../img/nanospeed_logo.png) no-repeat center;
}

.sidenav.active {
  transform: translateY(0);
}

.active {
  color: orange;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(74, 144, 226, 0.43);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

 .hidden-on-mobile {
    visibility: hidden;
    height: 0;
  }


/* Non-mobile styles, 1024px breakpoint */

@media screen and (min-width: 1024px) {
  .general-navbar-items {
    display: flex;
    padding:0;
    margin:0;
  }

  .hidden-on-mobile {
    visibility: visible;
    height: 100%;
  }

  .general-navbar-item:link {
    display: flex;
  }

  .general-navbar-item:hover {
    color: orange;
    background-color: #0F1121;
  }

  .burger-menu {
    display:none;
  }

  .menu-icon {
    display:none;
  }
  .transaction-box__choice__button__one__wrapper {
    grid-area: transaction-box__choice__button__one__wrapper;
    width: 100%;
    min-height: 76px;
    margin-left: 0;
    align-self: center;
    margin: 0 auto;
  }
  .index-main-header__heading {
    display: grid;
    color: #ffffff;
    font-size: 38px;
    min-height: 171px;
    padding-bottom: 25px;
    padding-top: 15px;
  }
  .transaction-box__choice__button__two__wrapper {
    grid-area: transaction-box__choice__button__two__wrapper;
    width: 100%;
    min-height: 76px;
    margin-left: 0;
    align-self: center;
    margin: 0 auto;
  }
  .transaction-box__text {
    grid-area: transaction-box__text;
    width: 80%;
    font-size: 20px;
    line-height: 33px;
    color: #1b204c;
    margin: 0 auto;
  }
  .transaction-box__go__button {
    grid-area: transaction-box__go__button;
    height: 200px;
    width: 200px;
    align-items: center;
    background-image: url(../img/Circle.svg);
    background-size: cover;
    background-color: rgb(74, 144, 226);
    color: rgba(0, 0, 0, 0);
    border: none;
    margin-left: 40px;
    cursor: pointer;
    border-radius: 100px;
    animation: shadow-pulse 1.7s infinite;
    -webkit-transition: background-color 150ms ease-in-out, -webkit-transform 250ms ease-out;
    transition: background-color 150ms ease-in-out, 
    -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out, background-color 150ms ease-in-out, 
    -webkit-transform 250ms ease-out;
  }

  .transaction-box__go__button:hover {
    transform: scale(1.25);
  }

  .header__learnmoretext__desktop {
    width: 100%;
    height: 40px;
    background: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    display: inline;
    padding-left: 8px;
    padding-right: 83px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #aeaeae;
    text-align: left;
  }
  .header__exitbutton {
    color: #6f6f6f;
  }

  .header__exitbutton:hover {
    color: #4A90E2;
  }

  .header__learnmoretext__mobile {
    display: none;
  }
  .index-main-header__transaction-box {
    display: grid;
    grid-template-columns: 250fr 375fr;
    grid-template-areas: "transaction-box__text transaction-box__text" "transaction-box__go__button transaction-box__choice__button__one__wrapper" "transaction-box__go__button transaction-box__choice__button__two__wrapper";
    background-color: white;
    height: 360px;
    padding: 25px 50px;
    border-radius: 5px;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.23);
    backface-visibility: hidden;
    border-radius: 10px;
    z-index: 3;
  }

  .sidenav__close-icon {
    visibility: hidden;
  }
  /* Show the sidenav */
  .sidenav {
    position: relative;
    /* Fixed position on mobile */
    transform: translateY(0);
    display: none;
  }
}

/* Index.html*/

/* FAQ.html*/

.faq-main {
  display: grid;
  grid-template-rows: 95px 140px auto;
}

.faq-main-area-one {
  background-color: #0f1121;
}

.faq-header {
  font-size: 32px;
  padding-top: 30px;
  line-height: 53px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 20px;
}

.faq-header-two {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding-bottom: 10px;
}

.faq-main-area-two {
  margin-top: 25px;
  background-color: #ffffff;
  align-items: center;
  line-height: 23px;
  color: #707070;
  justify-self: center;
}

.faq-main-area-three {
  background-color: #ffffff;
  align-items: center;
  line-height: 23px;
  color: #707070;
  justify-self: center;
}

.faq-main-area-four {
  background-color: #ffffff;
  align-items: center;

  line-height: 23px;
  color: #707070;
  justify-self: center;
}

.faq-main-area-five {
  display: grid;
  background-color: #4a90e2;
  padding: 50px 0 25px 0;
  margin-top: 50px;
}

.social-header {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.social-icon-one {
  display: inline-block;
  width: 25%;
  height: 100%;
  background: url(../img/Reddit.svg) no-repeat left;
  background-size: contain;
}

.social-icon-two {
  display: inline-block;
  width: 25%;
  height: 100%;
  background: url(../img/Discord.svg) no-repeat left;
  background-size: contain;
}

.social-icon-three {
  display: inline-block;
  width: 25%;
  height: 100%;
  background: url(../img/Facebook.svg) no-repeat left;
  background-size: contain;
}

.social-icon-four {
  display: inline-block;
  width: 25%;
  height: 100%;
  background: url(../img/Twitter.svg) no-repeat left;
  background-size: contain;
}

.faq-main-area-six {
  margin-top: 50px;
  background-color: #ffffff;
  background-color: #ffffff;
  align-items: center;
  line-height: 23px;
  color: #707070;
  justify-self: center;
  padding-bottom: 50px;
}

.faq-main-header__heading {
  position: relative;
  font-size: 38px;
  line-height: 42px;
  color: #ffffff;
  font-weight: bold;
  width: 64%;
  margin-right: 16%;
  margin-left: 16%;
  margin-top: 7%;
  padding-bottom: 20px;
}

/* FAQ.html*/

/* Stats.html */

.stats-main {
  display: grid;
  grid-template-rows: 95px 140px auto 780fr;
}

.stats-main-area-one {
  background-color: #0f1121;
}

.stats-header {
  margin-top: 2%;
  font-size: 32px;
  line-height: 53px;
  color: #000000;
  font-weight: bold;
}

.stats-main-area-two {
  display: flex;
  background-color: #f9f9fb;
  justify-items: center;
  padding-top: 20px;
  margin-bottom: 15px;
}

.stats-main-area-two-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5%;
  align-items: center;
  line-height: 23px;
  color: #707070;
  justify-self: center;
}

.stats-main-area-three {
  align-items: center;

  line-height: 23px;
  color: #707070;
  justify-self: center;
}

.stats-main-area-three-inner {
  margin-top: 4%;
}

.stats-button-more {
  height: 35px;
  margin-top: 4%;
  max-width: 126px;
  align-items: center;
  width: 90%;

  font-weight: bold;
  line-height: 35px;
  color: #4a90e2;
  justify-self: center;
  border: 1px solid #4a90e2;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.stats-box {
  width: 100%;
}

.statsbox__one,
.statsbox__two,
.statsbox__three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
}

.statsgraph {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 500px;
  width: 100%;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
}

.statsbox__title {
  color: #d1d0d0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.statsbox__value {
  color: #4a90e2;
  font-size: 36px;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {

  .stats-main-area-two {
    display: flex;
    background-color: #f9f9fb;
    justify-items: center;
    padding-bottom: 60px;
    padding-top: 40px;
}

  .stats-main-area-two-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    line-height: 23px;
    color: #707070;
    justify-self: center;
  }

  .stats-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    margin: 0 -10px;
  }

  .statsbox__one,
  .statsbox__two,
  .statsbox__three {
    width: 295px;
  }
}

/* Stats.html */

/* UseNano.html */

.usenano-main {
  display: grid;
  grid-template-rows: 95px 140px auto 780fr;
}

.usenano-main-area-two {
  background: #f9f9fb;
  margin-bottom: 15px;
}

.usenano-partner-info-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px 0;
}

.usenano__text {
  display: flex;
  align-items: center;
  line-height: 23px;
  padding-left: 20px;
  color: #707070;
  width: 100%;
  margin-right: 35px;
}

.usenano__button {
  height: 50px;
  font-weight: bold;
  line-height: 23px;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  background-color:#4a90e2;
  width: 360px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  transition: all .250s ease-in-out;
  -webkit-transition: all .250s ease-in-out;

}

.usenano__button:hover {
  background-color:#3379ca;
  color:#FFF;
}

.usenano-main-area-three {
  overflow: auto;
  margin-top: 30px;
}

.usenano-main-three-wrapper-outer {
  margin-bottom: 30px;
}

.usenano-main-area-three-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 29px;
}

.usenano-card {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  background: #fff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
}

.usernano-card-top-light {
  background: #e9f4ff;
}

.usernano-card-top-dark {
  background: #2c3e50;
}

.usernano-card-top-grey {
  background: #363636;
}

.usernano-card-top-white {
  background: #FFF;
}

.usernano-card-top {
  text-align: center;
  font-weight: 600;
  color: #fff;
  padding: 20px;
  height: 100%;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 5px 5px 0 0;
}
  
.usernano-card-bottom {
  height: auto;
  min-height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}

.arrow-link {
  text-decoration : none;
}

.arrow-link:after {
  z-index : 1;
  font-size : 18px;
  position : relative;
  margin-left:3px;
  content : "\2192";
  color : #d0d0d0;
  bottom : -1px;
  display : inline-block;
  -webkit-transition: all .250s ease-in-out;
}

.arrow-link:hover:after {
  transform : translateX(10px);
  color : #4A90E2;
}

.card-img-header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.usernano-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  align-self: flex-start;
  margin-top: auto;
  flex: 0 1 auto;
}

.usernano-card-text {
  line-height: 23px;
  color: #707070;
  flex: 1 1 auto;
}

a.usernano-card-link {
  color: #4a90e2;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  flex: 0 1 auto;
}

@media screen and (min-width: 1024px) {
  .usenano-partner-info-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 50px 0;
  }
  .usenano__button {
    margin-top: 0;
  }
}

/* Partner.html */

.partner-main {
  display: grid;
  grid-template-rows: 95px 140px auto auto;
}

.partner-main-area-two {
  display: grid;
  margin-top: 25px;
}

.partner-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: black;
  margin-top: 4%;
  padding-bottom: 20px;
}

.partner-header-text {
  line-height: 23px;
  color: #707070;
}

.partner-header-text a {
  color: #4a90e2;
  font-weight: bold;
  text-decoration: none;
}

.partner-header-small {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}

.partner-button-lg {
  max-width: 200px;
}

.partner-button-sm {
  max-width: 130px;
}

.partner-item {
  margin-top: 30px;
}
.partner-items {
  margin: 30px 0;
}

.partner-items a {
  margin-bottom: 20px;
}
/* Partner.html */

/* Ad.html */

.ads-main {
  display: grid;
  grid-template-rows: 95px 140px auto 780fr;
}

.ads-main-area-two {
  overflow: auto;
  padding-bottom: 20px;
  width: 90%;
}

.ads-main-area-three {
  background: #f9f9fb;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 30px;
}

.ads-main-area-three-wrapper {
  padding-bottom: 20px;
  color: #c4c4c4;
  line-height: 23px;
  margin-top: 20px;
}

.ads-main-area-three-button {
  border: 1px solid #4a90e2;
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  width: 129px;
  line-height: 35px;
  align-items: center;
  text-align: center;
  color: #4a90e2;
  margin-top: 20px;
}

.ads-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 53px;
  color: black;
  margin-top: 4%;
}

.ads-main-area-two-wrapper {
}

.ad-text {
  color: #707070;
}

.half-col {
  width: 100%;
}

.ads-title {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.ads-input {
  width: 50%;
  height: 40px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
}

.ads-input-text {
  color: #707070;
  margin-top: 10px;
}

::placeholder {
  color: #dadada;
  line-height: 23px;
  padding-left: 10px;
}

.ad-date-hightlight {
  display: inline-block;
  color: #4a90e2;
}

.ads-period {
  font-weight: normal;
}

.ad-slot-cards-wrapper {
  display: grid;
  margin-top: 30px;
  grid-gap: 31px;
  grid-template-columns: repeat(auto-fill, 208px);
}

.ad-slot-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  height: 125px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}

.ad-slot {
  color: #d1d0d0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.ad-cost {
  font-weight: 600;
  font-size: 36px;
  color: #4a90e2;
}

.active-card {
  color: #FFFFFF;
  background-color: #4A90E2;
}

@media screen and (min-width: 1024px) {
  .half-col {
    width: 50%;
  }
}


/* Table redesign */

  table a {
    color: #4A90E2;
  }

	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		table, thead, tbody, th, td, tr {
			display: block;
    }
    
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 .5rem 0;
    }
      
    tr:nth-child(odd) {
      background: #fbfbfb;
      padding: 0;
    }

    tr:nth-child(even) {
      background: #FFF;
      padding: 20px 0;
    }
    
		td {
      border: none;
      position: relative;
      padding-left: 55%;
      padding-top: 10px;
      padding-bottom: 5px;
		}

		td:before {
      position: absolute;
      top: 10px;
      left: 20px;
      width: 100%;
      padding-right: 10px;
      text-transform: uppercase;
      font-weight: bold;
      color: #a7a7a7;
      white-space: nowrap;
      letter-spacing: 2px;
    }

    .completed {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: 0;
    }
    
		td:nth-of-type(1):before { content: "Status"; }
		td:nth-of-type(2):before { content: "Origin"; }
		td:nth-of-type(3):before { content: "Destination"; }
		td:nth-of-type(4):before { content: "Amount"; }
		td:nth-of-type(5):before { content: "Elapsed Time"; }
    td:nth-of-type(6):before { content: "Sending Block"; }
    td.date:before { content: "Date"; }

    /* Test nanospeed Card */

    .index-main {
      display: grid;
      grid-template-rows: 95px 850px auto auto;
    }

    .index-main-header__transaction-box {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .index-main-area-one {
      position: relative;
      display: flex;
      flex-direction: column;
    }

    .transaction-box-back {
      grid-template-rows: 1fr 1fr;
      margin-top: -500px;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      height: 440px;
      padding: 25px;
      border-radius: 5px;
    }

    .transaction-box-footer {
      display: flex;
      height: auto;
      flex-direction: column;
      border-radius: 0 0 10px 10px;
      padding: 20px 20px;
    }


    .transaction-box-footer-try-again {
      margin-right: 0;
    }

    .transaction-box-footer-try-again:hover {
      border-radius:25px;
      margin-right: 0;
    }
    .card {
      margin-top:70px;
    }

    .transaction-box-footer-time {
      margin-top:10px;
    }

    .transaction-box-footer-try-again {
      margin-top: 15px;
    }

	}

/* Google Map styles */
.custom-tooltip {
    padding: 2px;
    border-radius: 16px;
}


.GoogleMap {
    height: 400px;
}

.GoogleHeatMap {
    width: 100%;
    /* max-width: 800px; */
    height: 80%;
}

#MapPlaceholder {
    max-width: 800;
    height: 400px;
}

/* Tooltip styles */
.custom-tooltip {
    padding: 2px;
    border-radius: 16px;
}

/* Toasts styles */
.toast__padding {
	padding: .5rem;
	background-color: #333;
    color: #fff;
    text-align: center;
	border-radius: 18px;
	list-style-type: none;
}

.toast {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
	padding: 1rem;
	margin-bottom: 0;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.toast:not(:last-child) {
    margin: 0 0 12px;
}

.toast__content {
    flex: 1 1 auto;
    margin: 0 .5rem 0 0;
}

.toast__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
	padding: 0;
}

.toasts {
    bottom: 5%;
    position: fixed;
	left: 25%;
	right: 25%;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}


.toast__padding {
	padding: .5rem;
	background-color: #333;
    color: #fff;
    text-align: center;
	border-radius: 18px;
	list-style-type: none;
}

.toast {
    align-items: flex-start;
    border-radius: 8px;
    display: flex;
	padding: 1rem;
	margin-bottom: 0;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

.toast:not(:last-child) {
    margin: 0 0 12px;
}

.toast__content {
    flex: 1 1 auto;
    margin: 0 .5rem 0 0;
}

.toast__dismiss {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font: inherit;
	padding: 0;
}

.toasts {
    bottom: 5%;
    position: fixed;
	left: 25%;
	right: 25%;
	z-index: 999;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5%; opacity: 1;}
}