/*source: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.2s linear infinite;
    padding: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*************************************************************/
.loader-container {
    margin-top: 10px;
}

.nano-container {
    padding: 10px 40px;
}

.map-header {
    padding: 20px 0 0 40px;
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: 100;
}

p {
    margin-top: 10px;
    text-align: center;
}