certifi==2017.11.5
chardet==3.0.4
Django==2.2.24
django-cors-headers==2.4.0
django-filter==2.0.0
django-ipware==2.1.0
django-ratelimit==1.1.0
djangorestframework==3.9.0
docutils==0.14
idna==2.6
Markdown==3.0.1
mysqlclient==1.3.13
nano-python==2.0.1
ordereddict==1.1
python-http-client==3.1.0
pytz==2018.7
requests==2.18.4
sendgrid==5.6.0
six==1.11.0
urllib3==1.22
django_crontab
cachalot
